* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.navbar-header {
  float: left;
  text-align: center;
}

.custom-modal .modal-dialog {
  max-width: 30%;
  margin: 1.7rem auto;
}
